{% extends "base_template.html" %}
{% block body %}
    <div class="card m-3">
        <div class="card-body">
            <h2 class="card-title">Window Control</h2>
        </div>
        <form method="post">
            <div class="card-body">
                <h5 class="card-title">Manual Control</h5>
                <div class="row align-items-center">
                    <div class="col-auto">
                        <label class="card-text col-form-label" for="enableManualCheck">Enable Manual Control</label>
                    </div>
                    <div class="form-check form-switch col-auto">
                        <input class="form-check-input card-text" type="checkbox" role="switch" id="enableManualCheck" name="enableManualCheck">
                    </div>
                </div>
                <div class="row align-items-center ms-2">
                    <div class="col-auto">
                        <label class="card-text col-form-label" for="openWindowCheck">Windows Open</label>
                    </div>
                    <div class="form-check form-switch col-auto">
                        <input class="form-check-input card-text" type="checkbox" role="switch" id="openWindowCheck", name="openWindowCheck">
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">Temperature Setpoints</h5>
                <div class="row align-items-center mb-2">
                    <div class="col-auto">
                        <label class="card-text col-form-label" for="openTemperatureValue">Temperature to open windows:</label>
                    </div>
                    <div class="col-auto">
                        <input class="form-control" type="text" id="openTemperatureValue" name="openTemperatureValue">
                    </div>
                    <div class="col-auto">
                        <label class="card-text col-form-label" for="openTemperatureValue">°C</label>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-auto">
                        <label class="card-text col-form-label" for="closeTemperatureValue">Temperature to close windows:</label>
                    </div>
                    <div class="col-auto">
                        <input class="form-control" type="text" id="closeTemperatureValue" name="closeTemperatureValue">
                    </div>
                    <div class="col-auto">
                        <label class="card-text col-form-label" for="closeTemperatureValue">°C</label>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}